
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutExam.cshtml";
}
@using UserRoles.Models;
@{
    Student s = ViewBag.s;
}
<h2>编辑学生信息</h2>

<form action="/Students/Edit" method="post">
        
        <h4>学生信息</h4>
        <hr />
    <input type="hidden" name="StuID" value="@s.StuID"/>
   
        <div class="form-group">
            <label class="control-label col-md-2" for="StuName">姓名</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-required="姓名是必填项" id="StuName" name="StuName" type="text" value="@s.StuName" />
                <span class="field-validation-valid text-danger" data-valmsg-for="StuName" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="StuLoginName">登录名</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-required="登录名是必填项" id="StuLoginName" name="StuLoginName" type="text" value="@s.StuLoginName" />
                <span class="field-validation-valid text-danger" data-valmsg-for="StuLoginName" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="StuLoginPwd">密码</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-required="密码是必填项" id="StuLoginPwd" name="StuLoginPwd" type="text" value="@s.StuLoginPwd" />
                <span class="field-validation-valid text-danger" data-valmsg-for="StuLoginPwd" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="StuSex">性别</label>
            <div class="col-md-10">
                <div class="radio">
                    @if (s.StuSex == true)
                    {
                        <input data-val="true" data-val-required="性别是必填项" id="StuSex" name="StuSex" type="radio" value="true" checked /> @:男
                        <input data-val="true" data-val-required="性别是必填项" id="StuSex" name="StuSex" type="radio" value="false"  /> @:女
                    }
                    else
                    {
                        <input data-val="true" data-val-required="性别是必填项" id="StuSex" name="StuSex" type="radio" value="true" /> @:男
                        <input data-val="true" data-val-required="性别是必填项" id="StuSex" name="StuSex" type="radio" value="false" checked /> @:女
                    }
                   

                    <span class="field-validation-valid text-danger" data-valmsg-for="StuSex" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="StuPhone">电话</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="StuPhone" name="StuPhone" type="text" value="@s.StuPhone" />
                <span class="field-validation-valid text-danger" data-valmsg-for="StuPhone" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="StuEmail">Email</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="StuEmail" name="StuEmail" type="text" value="@s.StuEmail" />
                <span class="field-validation-valid text-danger" data-valmsg-for="StuEmail" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="StuGrade">班级</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="StuGrade" name="StuGrade" type="text" value="@s.StuGrade" />
                <span class="field-validation-valid text-danger" data-valmsg-for="StuGrade" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=" 保存 " class="btn btn-default" />
            </div>
        </div>
        <a href="/Students/Index">返回学生列表</a>
</form>


