
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using UserRoles.Models;
@model List<Departments>
<ul class="breadcrumb">
    <li><a href="">首页</a></li>
    <li class="active"><a href="">部门管理</a></li>
</ul>
<h2>部门管理</h2>
<div class="row">

    <div class="col-lg-8">
        <form method="post" action="/Department/Add" class="form-inline">
            <input type="text" name="Name" class="form-control" placeholder="请输入部门名称" />
            <input type="text" name="Remark" class="form-control" placeholder="请输入备注" />
            <input type="submit" value="添加" class="btn btn-primary" />
        </form>
    </div>

    <div class="col-lg-4">
        <form method="post" action="" class="form-inline">
            <label for="deparment">部门名称:</label>
            <input type="text" name="Name" id="Name" value="@ViewBag.name" class="form-control" />
            <input type="submit" value="搜索" class="btn btn-primary" />
        </form>
    </div>

</div>

<table class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
            <th>编号</th>
            <th>名称</th>
            <th>备注</th>
            <th>该部门人员</th>
            <th>该部门人数</th>
            <th>修改</th>
            <th>删除</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.Remark</td>
                <td>
                    @foreach (var item1 in item.UserInfos)
                    {
                        @item1.Name<br />
                    }
                </td>
                <td>@item.UserInfos.Count()</td>
                <td><a href="/Department/Edit/@item.ID">修改</a></td>
                <td><a href="/Department/DepartmentsDelete?DepartmentID=@item.ID" onclick="return confirm('您确定要删除 @item.Name 的部门信息吗？')">删除</a></td>
            </tr>
        }
    </tbody>
</table>
