
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutExam.cshtml";
}
@using UserRoles.Models;
@model List<Teacher>

<h2>教师列表</h2>

<p>
    <a href="/Teacher/Create">添加新老师</a>
    <button onclick="DeleteCheck()">批量删除</button>
    <input type="checkbox" id="BoxID" onclick="setAllNo()" />全选/全不选
    <button onclick="setAll()" class="btn btn-default">
        全选</button>
            <button onclick="setNo()" class="btn btn-default">
                全不选</button>
                    <button onclick="setOthers()" class="btn btn-default">反选</button>
</p>
<table class="table form-control">
    <tr>
        <th>选择</th>
        <th> 姓名 </th>
        <th> 登录名</th>
        <th> 密码</th>
        <th> 电话</th>
        <th> Email</th>
        <th>操作</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <input type="checkbox" id="TeacherID" name="TeacherID" value="@item.TeacherID" />
            </td>
            <td>
                @item.TeacherName
            </td>
            <td>
                @item.TeacherLoginName
            </td>
            <td>
                @item.TeacherLoginPwd
            </td>
            <td>
                @item.TeacherPhone
            </td>
            <td>
                @item.TeacherEmail
            </td>
            <td>
                <a href="/Teachers/Edit/@item.TeacherID">编辑</a> |
                <a href="/Teachers/Details/@item.TeacherID">详情</a> |
                <a href="/Teachers/Delete/@item.TeacherID">删除</a>
            </td>
        </tr>
    }

</table>

@section scripts{
    <script type="text/javascript">

        function DeleteCheck() {
            var arrylist = new Array();/*用来存储要删除的老师id*/
            var count = $("input[name='TeacherID']:checked");/*获取选中的框*/
            if (count.length < 1) {
                alert("请至少选择一项！")
                return;
            }
            else {
                count.each(function () {
                    arrylist.push($(this).val())/*将选中的老师id追加进去*/
                })
                $.ajax({
                    type: "POST",
                    url: "/Teacher/DeleteAll",
                    data: { 'delItems': arrylist.toString() },
                    dataType: "text",
                    success: function (result) {
                        alert(result);
                        window.location.reload();/*页面重新加载*/
                    }
                })
            }
        }

        //全选函数
        function setAll() {
            var loves = document.getElementsByName("TeacherID");
            for (var i = 0; i < loves.length; i++) {
                loves[i].checked = true;
            }
        }
        //全不选函数
        function setNo() {
            var loves = document.getElementsByName("TeacherID");
            for (var i = 0; i < loves.length; i++) {
                loves[i].checked = false;
            }
        }
        //反选
        function setOthers() {
            var loves = document.getElementsByName("TeacherID");
            for (var i = 0; i < loves.length; i++) {
                if (loves[i].checked == false)
                    loves[i].checked = true;
                else
                    loves[i].checked = false;
            }
        }
        //全选/全不选操作
        function setAllNo() {
            var box = document.getElementById("BoxID");
            var loves = document.getElementsByName("TeacherID");
            if (box.checked == false) {
                for (var i = 0; i < loves.length; i++) {
                    loves[i].checked = false;
                }
            } else {
                for (var i = 0; i < loves.length; i++) {
                    loves[i].checked = true;
                }
            }
        }
    </script>
}
