@model UserRoles.Models.Paper

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutExam.cshtml";
}

<h2>查看试卷信息</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaperName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaperName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaperExplain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaperExplain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaperTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaperTime)
        </dd>

    </dl>
    <div>
        @foreach (var item in Model.Topic.OrderBy(p=>p.TopicSort))
        {
            <ul>
                <li>
                    @item.TopicExplain (@item.TopicScore)
                    
                    @Html.ActionLink("修改题目", "Edit", "Topics1", new { id = item.TopicID },null) &nbsp;
                    @Html.ActionLink("删除题目", "Delete", "Topics1", new { id = item.TopicID },null) &nbsp;
                    <ul>
                        @if (item.TopicType == 1)
                        {
                            <li>
                                @item.TopicA
                            </li>
                            <li>
                                @item.TopicB
                            </li>
                            <li>
                                @item.TopicC
                            </li>
                            <li>
                                @item.TopicD
                            </li>
                        }
                        else if (item.TopicType == 2)
                        {
                            <li>改题是判断题</li>

                        }
                        else
                        {
                            <li>改题是问答题</li>
                        }
                    </ul>
                </li>
            </ul>
        }
    </div>

</div>
<p>
    @Html.ActionLink("添加考题", "Create", "Topics1", new { id = Model.PaperID }, null)
    @Html.ActionLink("编辑", "Edit", new { id = Model.PaperID }) 
    @Html.ActionLink("返回列表", "Index")
</p>
